<header>
    <h2>Hola {{name}}</h2>
    <div class="container">
        <h1>Video Llamada</h1>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/">Inicio</a></li>
            <li role="presentation" ><a href="#">Informacion</a></li>
            <li role="presentation"><a href="/register.html">Registro</a></li>
            <li role="presentation"><a href="/adminContacts">Adminstrar Contactos</a></li>
            <!-- <li role="presentation"><a href="#">Messages</a></li> -->
        </ul>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="list-group col-md-4">
            <a href="#" class="list-group-item active">
                Contactos
            </a>
            {{#each contacts}}
                <a href="/contactos/{{user}}" class="list-group-item">{{user}}</a>
            {{/each}}
        </div>
        <div class="col-md-5">
            <h2>{{scontact.name}}</h2>
            <h3>{{scontact.user}}</h3>
            <h3>Estado: online</h3>
            <div class="btn-group">
                <a href="/deleteContact/{{name}}/{{scontact.user}}" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-success">Llamar</button>
                <!-- <button type="button" class="btn btn-danger">Eliminar</button> -->

            </div>
        </div>
    </div>
</div>
